.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.townInfoWrap {
  border: 2px solid #333333;
  width: 400px;
  height: 200px;
  overflow: auto;
}

.townWeatherWrap {
  border: 2px solid #333333;
  width: 400px;
  height: 200px;
  overflow: auto;
}

.townHistoryWrap {
  border: 2px solid #333333;
  width: 400px;
  height: 800px;
  overflow: auto;
}
